extends layout

block context
  h3 Inventory Appraisal
  p This tool will take a list of inventory items and appraise their value based on the sum of their refined parts.
  .alert We only know how to calculate Ore and Ice refines right now.  Scrap will be supported soon!

  form(method='post', action='/tools/appraisal', enctype='multipart/form-data')
    fieldset
      .form-group
        label(for='inventory') Inventory Data
        textarea#inventory.form-control(name='inventory', rows='15', placeholder='Paste inventory here, protip: ctrl+a, ctrl+c, ctrl+v')
      
      button.btn.btn-primary(type='submit') Appraise
