div.navbar.navbar-inverse.navbar-fixed-top
  div.navbar-inner
    div.container-fluid
      a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='/') EVE Commander
      div.nav-collapse.collapse
        ul.nav
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown') Guides
              b.caret
            ul.dropdown-menu
              li.nav-header Reactions
              li
                a(href='/reactions/simple') Simple
              li
                a(href='/reactions/alchemy') Alchemy
              li
                a(href='/reactions/complex') Complex
              li.nav-header Mining
              li
                a(href='/ore/volume') By Volume
              li
                a(href='/ore/profit') By Profit
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown') Tools
              b.caret
            ul.dropdown-menu
              li
                a(href='/tools/foreman') Mining Foreman