extends layout

block context
  h3 #{title}
  p This chart shows the refining amount of each mineral in a given ice type.

  include table_script

  :coffeescript
    $(document).ready ->
      $.ajax
        type: "GET"
        url: "/data/ice.json"
        dataType: "json"
        success: (data) ->
          $('.loading').remove()
          thead = $('thead tr')
          $.each data.product_index, (i, product) ->
            th = $('<th>').addClass(product.toLowerCase().replace(' ','-'))
            th.text product
            thead.append th    

          tbody = $('tbody')
          $.each data.ices, (i, ice) ->
            tr = $('<tr>')
            tr.addClass(if (ice.variant) then 'ice-variant' else 'ice-class')
            tr.append $("<th>").text(ice.name)
            $.each ice.refines, (i, refine) ->
              td = $("<td>").addClass(data.product_index[i].toLowerCase().replace(' ','-')).text(refine)
              tr.append td

            tbody.append tr
          
          add_icons()
          find_optimal(data.product_index)

  table.table.table-condensed.table-ice
    thead
      tr
        th Ice
    tbody
      tr.loading
        th    
          h4 
            i.icon-spinner.icon-spin.icon-large
            | Calculating ice yield...

