body
  font-size 14px

.table-ore thead tr th,
.table-ore tbody tr td,
.table-ore tbody tr th
  background-color #f9f9f9
  text-align center

.table-ore tbody tr.ore-class td,
.table-ore tbody tr.ore-class th
  background-color #f0f0f0

.table-ore thead tr th:first-child
  text-align left

.table-ore tbody tr th
  font-weight normal
  text-align left

.table-ore tbody tr.ore-class th
  font-weight bold

.table-ore tbody tr td.optimal
  background-color #dff0d8
  color #468847
  font-weight bold

.table-ore th.ore-icon
  width 60px

.veldspar
  background url('/images/24_64_1.png') center center no-repeat
.scordite
  background url('/images/23_64_15.png') center center no-repeat
.pyroxeres
  background url('/images/23_64_16.png') center center no-repeat
.plagioclase
  background url('/images/24_64_2.png') center center no-repeat
.omber
  background url('/images/23_64_13.png') center center no-repeat
.kernite
  background url('/images/23_64_12.png') center center no-repeat
.jaspet
  background url('/images/23_64_11.png') center center no-repeat
.hedbergite
  background url('/images/23_64_9.png') center center no-repeat
.hemorphite
  background url('/images/23_64_10.png') center center no-repeat
.gneiss
  background url('/images/25_64_1.png') center center no-repeat
.dark_ochre
  background url('/images/23_64_8.png') center center no-repeat
.crokite
  background url('/images/23_64_7.png') center center no-repeat
.spodumain
  background url('/images/23_64_14.png') center center no-repeat
.bistot
  background url('/images/23_64_6.png') center center no-repeat
.arkanor
  background url('/images/23_64_5.png') center center no-repeat
.mercoxit
  background url('/images/35_64_11.png') center center no-repeat
