extends layout

block context
  h3 Simple Reactions
  p This table shows the current market value of simple reactions.
  
  include ../includes/market_script
  include table_script

  :coffeescript
    $(document).ready ->
      $.ajax
        type: "GET"
        url: "/data/reactions-simple.json"
        dataType: "json"
        success: (data) ->
          thead = $('thead').append $('<tr>')
          thead.append $('<th>').text('Component')
          thead.append $('<th>').text('Component')
          thead.append $('<th>').text('Reaction')

          tbody = $('tbody')
          $.each data.reactions, (i, reaction) ->
            tr = $('<tr>')

            $.each reaction.components, (i, component) ->
              if component
                component_name = data.component_index[i]
                td = $('<td>').addClass('component').text(component_name)
                td.addClass( classify(component_name) )
                td.append $('<i>').addClass('icon-chevron-right').addClass('icon-3x').addClass('pull-right')
                td.append $('<div>').addClass('input').text( component + ' units' )
                tr.append td

            td = $('<td>').addClass('reaction ' + classify(reaction.name)).text(reaction.name)
            td.append $('<div>').addClass('batch').text( reaction.batch + ' units' )
            tr.append td

            tbody.append tr

          fetch_prices '/data/moon-materials-raw.json', -> 
            fetch_prices '/data/moon-materials-intermediate.json', ->
              $('thead').append $('<th>').text('Market')

              $.each $('tbody tr'), (i, row) ->
                buy = 0
                $.each $(row).find('.component'), (i, component) ->
                  buy += parseFloat( $(component).find('.avg').text())

                sell = parseFloat($(row).find('.reaction .avg').text())
                td = $('<td>').addClass('market') 
                delta = $('<i class="icon-4x pull-left">')
                td.append delta
    
                profit = (sell - buy).toFixed(0)
                td.append $('<span>').addClass('amount').text( profit )
                td.append $('<div>').addClass('margin').text( ((profit / sell) * 100).toFixed(0) + '%')

                if (sell > buy)
                  $(row).addClass("optimal")
                  delta.addClass('icon-caret-up')
                else
                  delta.addClass('icon-caret-down')

                $(row).append td

              $('.loading').remove()

  table.table.table-bordered.table-reactions
    thead

    tbody
      tr.loading.info
        td(colspan=3)
          
          h4 
            i.icon-spinner.icon-spin.icon-large
            | Updating current prices...