extends layout

block context
  h3 Simple Reactions
  p This table shows the current market value of simple reactions.
  
  h5 Current Market
  .btn-group
    button.btn Jita

  :coffeescript
    $(document).ready ->
      $.ajax
        url: '/data/reactions-simple.json'
        dataType: 'json'
        success: (reactions) ->
          regions = jita:
            id: 10000002

          component_ids = $.map(reactions, (reaction) ->
            $.map reaction.components, (component) ->
              component.id

          )
          component_ids = $.map(component_ids, (component) ->
            "typeid=" + component
          ).join("&")
          reaction_ids = $.map(reactions, (reaction) ->
            "typeid=" + reaction.id
          ).join("&")
          type_ids = [reaction_ids, component_ids].join("&")
          data_url = "http://api.eve-central.com/api/marketstat?" + "regionlimit=" + regions["jita"].id + "&" + type_ids
          $.ajax
            type: "GET"
            url: data_url
            dataType: "xml"
            success: (data) ->
              $('.loading').remove()
              $.each reactions, (index, reaction) ->
                reaction_value = $(data).find("evec_api > marketstat > type#" + reaction.id + " > buy > max").text()
                reaction_volume = $(data).find("evec_api > marketstat > type#" + reaction.id + " > buy > volume").text()
                row = $('<tr>')

                buy = parseFloat(0.0)
                $.each reaction.components, (index, component) ->
                  component_value = $(data).find("evec_api > marketstat > type#" + component.id + " > sell > max").text()
                  buy = +parseFloat(component_value * 100)
                  td = $('<td class="component '+ component.name.toLowerCase().replace(' ','_') + '">').text(component.name)
                  td.append $('<i class="icon-chevron-right icon-3x pull-right"></i>')
                  td.append $('<div class="input">').text("100 units")
                  td.append $('<div class="buy">').text( buy.toFixed(0) )
                  row.append td

                sell = parseFloat(reaction_value * 200)
                td = $('<td class="reaction">').text(reaction.name)
                td.append $('<div class="yield">').text("200 units")
                td.append $('<div class="sell">').text( String(sell.toFixed(0)))
                row.append td

                td = $('<td class="market">')
                delta = $('<i class="icon-4x pull-left">')
                td.append( delta )
                td.append $('<span class="amount">').text( (sell - buy).toFixed(0) )
                td.append $('<div class="volume">').text(reaction_volume + " vol")
                row.append td

                row.addClass "optimal" if sell > buy
                delta.addClass (if sell > buy then "icon-caret-up" else "icon-caret-down")

                $("tbody").append row

  table.table.table-bordered.table-reactions
    thead
      tr
        th Component
        th Component
        th Reaction
        th Market
    tbody
      tr.loading
        th(colspan=4)
          
          h4 
            i.icon-spinner.icon-spin.icon-large
            | Updating current prices...


