extends layout

block context
  h3 Simple Reactions
  table#simple-reactions.table.table-bordered
    thead
      tr
        td Icon
        td Value
        td Reaction
        td Icon
        td Value
        td Component
        td Icon
        td Value
        td Component
    tbody
      tr.loading
        th(colspan=9)
          
          h4 
            i.icon-spinner.icon-spin.icon-large
            | Updating current prices...

  :coffeescript
    $(document).ready ->
      $.ajax
        url: '/data/reactions-simple.json'
        dataType: 'json'
        success: (reactions) ->
          regions = jita:
            id: 10000002

          component_ids = $.map(reactions, (reaction) ->
            $.map reaction.components, (component) ->
              component.id

          )
          component_ids = $.map(component_ids, (component) ->
            "typeid=" + component
          ).join("&")
          reaction_ids = $.map(reactions, (reaction) ->
            "typeid=" + reaction.id
          ).join("&")
          type_ids = [reaction_ids, component_ids].join("&")
          data_url = "http://api.eve-central.com/api/marketstat?" + "regionlimit=" + regions["jita"].id + "&" + type_ids
          $.ajax
            type: "GET"
            url: data_url
            dataType: "xml"
            success: (data) ->
              $('.loading').remove()
              $.each reactions, (index, reaction) ->
                reaction_value = $(data).find("evec_api > marketstat > type#" + reaction.id + " > buy > max").text()
                sell = (reaction_value * 200).toFixed(2)
                row = $("<tr>")
                row.append $("<td>").append($("<img>").attr("src", "http://tarrif.net/eve/img/icons/" + reaction.icon).attr("height", "32").attr("width", "32"))
                row.append $("<td>").text(sell)
                row.append $("<td>").text(reaction.name)
                buy = 0.0
                $.each reaction.components, (index, component) ->
                  component_value = $(data).find("evec_api > marketstat > type#" + component.id + " > sell > max").text()
                  buy = +(component_value * 100)
                  row.append $("<td>").append($("<img>").attr("src", "http://tarrif.net/eve/img/icons/" + component.icon).attr("height", "32").attr("width", "32"))
                  row.append $("<td>").append((component_value * 100).toFixed(2))
                  row.append $("<td>").text(component.name)

                if sell > buy
                  row.attr "class", "success"  if sell > buy

                $("#simple-reactions tbody").append row



