extends layout

block context
  h3 #{title}
  p This chart shows the refining amount of each mineral in a given ore type.

  include table_script

  :coffeescript
    $(document).ready ->
      $.ajax
        type: "GET"
        url: "/data/ores.json"
        dataType: "json"
        success: (data) ->
          $('.loading').remove()
          tbody = $('tbody')
          $.each data.ores, (i, ore) ->
            tr = $('<tr>')
            tr.addClass('ore-class') if !(i%3)
            tr.append $("<th>").text(ore.name)
            tr.append $("<td>").text(ore.batch)
            tr.append $("<td>").text(ore.weight)
            $.each ore.refines, (i, refine) ->
              td = $("<td>").addClass(data.mineral_index[i].toLowerCase()).text(refine)
              tr.append td

            tbody.append tr
          
          find_optimal(data.mineral_index)
          toggle_ores()

  table.table.table-condensed.table-ore
    thead
      tr
        th Ore
        th Batch
        th Weight
        th.tritanium Tritanium
        th.pyerite Pyerite
        th.mexallon Mexallon
        th.isogen Isogen
        th.nocxium Nocxium
        th.zydrine Zydrine
        th.megacyte Megacyte
        th.morphite Morphite
    tbody
      tr.loading
        th(colspan=12)     
          h4 
            i.icon-spinner.icon-spin.icon-large
            | Calculating ore yield...

