extends layout

block context
  h3 #{title}
  p This chart shows the refining amount of each mineral in a given ore type.

  include table_script

  :coffeescript
    $(document).ready ->
      $.ajax
        type: "GET"
        url: "/data/ores.json"
        dataType: "json"
        success: (data) ->
          $('.loading').remove()
          thead = $('thead tr')
          thead.append $("<th>").text("Batch")
          thead.append $("<th>").text("Weight")
          $.each data.component_index, (i, component) ->
            th = $('<th>').addClass( classify(component) )
            th.text component
            thead.append th

          tbody = $('tbody')
          $.each data.ores, (i, ore) ->
            tr = $('<tr>')
            tr.addClass('ore-class') if !(i%3)
            tr.append $("<th>").text(ore.name)
            tr.append $("<td>").text(ore.batch)
            tr.append $("<td>").text(ore.weight)
            $.each ore.refines, (i, refine) ->
              td = $("<td>").addClass( classify(data.component_index[i]) ).text(refine)
              tr.append td

            tbody.append tr
          
          find_optimal(data.component_index)
          format_values()
          add_icons()

  table.table.table-condensed.table-ore
    thead
      tr
        th Ore
 
    tbody
      tr.loading
        th(colspan=12)     
          h4 
            i.icon-spinner.icon-spin.icon-large
            | Calculating ore yield...

