:coffeescript
  root = exports ? this
  root.classify = (name) ->
    return name.toLowerCase().replace /\s+/g, '-'

  root.compare = (a, b) ->
    parseFloat($(b).text()) - parseFloat($(a).text())

  root.find_optimal = (component_index) -> 
    $.each component_index, (i, item) -> 
      item_class = classify(item)
      columns = $('tbody').find('td.'+item_class).sort(compare)
      columns.slice(0,3).addClass('optimal')

  root.add_icons = ->
    $.each $('tbody tr.ore-class th'), (i, e) ->
      ore_class = classify($(e).text())
      $(e).before $('<th class="ore-icon ' + ore_class + '" rowspan="3">&#160;</th>')
    
    $('thead tr th:first-child').before $('<th class="ore-icon">&#160;</th>')