.btn-group
  button#toggle_ores.btn(onclick="toggle_ores()") Ore Variants

:coffeescript
  root = exports ? this
  root.toggle_ores = ->
    hide_ores()

    if $('th.ore-icon').length
      $('th.ore-icon').remove()
    else
      $.each $('tbody tr.ore-class th'), (i, e) ->
        ore_class = $(e).text().toLowerCase().replace(' ','_')
        $(e).before $('<th class="ore-icon ' + ore_class + '" rowspan="3">&#160;</th>')
      
      $('thead tr th:first-child').before $('<th class="ore-icon">&#160;</th>')

  root.hide_ores = ->
    $('tbody tr.ore-class').nextUntil('tr.ore-class').toggle()

  root.compare = (a, b) ->
    (if parseFloat($(a).text()) > parseFloat($(b).text()) then 1 else 0)

  root.find_optimal = (mineral_index) -> 
    return true

    $.each mineral_index, (i, ore) -> 
      ore_class = ore.toLowerCase()
      column = $('tbody td.'+ore_class)
      column.sort find_optimal
      optimal = column.slice(-3)
      console.log column
      optimal.addClass "optimal"

  root.mineral_per_meter = (weight, batch, refine) ->
    per_meter = 1 / parseFloat(weight)
    refine_per_meter = parseFloat(batch) / per_meter
    mineral_per_meter = parseFloat(refine) / refine_per_meter
    return mineral_per_meter.toFixed(2)
