.btn-group
  button#toggle_ores.btn(onclick="toggle_ores()") Ore Variants

:coffeescript
  root = exports ? this
  root.toggle_ores = ->
    hide_ores()

    if $('th.ore-icon').length
      $('th.ore-icon').remove()
    else
      $.each $('tbody tr.ore-class th'), (i, e) ->
        ore_class = $(e).text().toLowerCase().replace(' ','_')
        $(e).before $('<th class="ore-icon ' + ore_class + '" rowspan="3">&#160;</th>')
      
      $('thead tr th:first-child').before $('<th class="ore-icon">&#160;</th>')

  root.hide_ores = ->
    $('tbody tr.ore-class').nextUntil('tr.ore-class').toggle()
