extends layout

block context
  h3 #{title}

  //- $('tbody tr.ore-class').nextUntil('tr.ore-class').toggle() //
  table.table.table-bordered.table-condensed.table-ore
    thead
      tr
        th Ore
        th Batch
        th Weight
        th Tritanium
        th Pyerite
        th Mexallon
        th Isogen
        th Nocxium
        th Zydrine
        th Megacyte
        th Morphite
    tbody
      //- Veldspar //
      tr.ore-class
        td
          strong Veldspar
        td 333
        td 0.1
        td
          strong.text-success 30.03
        td 0.00
        td 0.00 
        td 0.00 
        td 0.00 
        td 0.00 
        td 0.00 
        td 0.00 
      tr
        td Concentrated Veldspar
        td &#160;
        td &#160;
        td
          strong.text-success 31.53
        td 0.00
        td 0.00 
        td 0.00 
        td 0.00 
        td 0.00 
        td 0.00 
        td 0.00 
      tr
        td Dense Veldspar
        td &#160;
        td &#160;
        td
          strong.text-success 33.03
        td 0.00
        td 0.00 
        td 0.00 
        td 0.00 
        td 0.00 
        td 0.00 
        td 0.00 
      //- Scordite //
      tr.ore-class
        td
          strong Scordite
        td 333
        td 0.2
        td 16.68
        td 
          strong.text-success 8.33
        td 0.00 
        td 0.00 
        td 0.00 
        td 0.00 
        td 0.00 
        td 0.00 
      tr
        td Concentrated Scordite
        td &#160;
        td &#160;
        td 17.51
        td 
          strong.text-success 8.74
        td 0.00 
        td 0.00 
        td 0.00 
        td 0.00 
        td 0.00 
        td 0.00 
      tr
        td Massive Scordite
        td &#160;
        td &#160;
        td 18.34
        td 
          strong.text-success 9.16
        td 0.00 
        td 0.00 
        td 0.00 
        td 0.00 
        td 0.00 
        td 0.00 
      //- Pyroxeres //
      tr.ore-class
        td
          strong Pyroxeres
        td 333
        td 0.3
        td 8.45
        td 0.59
        td 1.20 
        td 0.00 
        td 0.11 
        td 0.00 
        td 0.00 
        td 0.00 
      tr
        td Solid Pyroxeres
        td &#160;
        td &#160;
        td 8.87
        td 0.62
        td 1.26 
        td 0.00 
        td 0.12 
        td 0.00 
        td 0.00 
        td 0.00 
      tr
        td Viscous Pyroxeres
        td &#160;
        td &#160;
        td 9.29
        td 0.65
        td 1.32 
        td 0.00 
        td 0.12 
        td 0.00 
        td 0.00 
        td 0.00 
      //- Plagioclase //
      tr.ore-class
        td
          strong Plagioclase
        td 333
        td 0.4
        td 2.20
        td 4.39
        td 
          strong.text-success 2.20 
        td 0.00 
        td 0.00 
        td 0.00 
        td 0.00 
        td 0.00 
      tr
        td Azure Plagioclase
        td &#160;
        td &#160;
        td 2.31
        td 4.61
        td 
          strong.text-success 2.31
        td 0.00 
        td 0.00 
        td 0.00 
        td 0.00 
        td 0.00 
      tr
        td Rich Plagioclase
        td &#160;
        td &#160;
        td 2.42
        td 4.83
        td 
          strong.text-success 2.42
        td 0.00 
        td 0.00 
        td 0.00 
        td 0.00 
        td 0.00 
      //- Omber //
      tr.ore-class
        td
          strong Omber
        td 500
        td 0.6
        td 1.02
        td 0.41
        td 0.00
        td 
          strong.text-success 1.02
        td 0.00
        td 0.00
        td 0.00
        td 0.00
      tr
        td Silvery Omber
        td &#160;
        td &#160;
        td 1.07
        td 0.43
        td 0.00
        td 
          strong.text-success 1.07
        td 0.00
        td 0.00
        td 0.00
        td 0.00
      tr
        td Golden Omber
        td &#160;
        td &#160;
        td 1.13
        td 0.45
        td 0.00
        td 
          strong.text-success 1.13
        td 0.00
        td 0.00
        td 0.00
        td 0.00
      //- Kernite //
      tr.ore-class
        td
          strong Kernite
        td 400
        td 1.2
        td 0.80
        td 0.00
        td 1.61
        td 0.80
        td 0.00
        td 0.00
        td 0.00
        td 0.00
      tr
        td Luminous Kernite
        td &#160;
        td &#160;
        td 0.84
        td 0.00
        td 1.69
        td 0.84
        td 0.00
        td 0.00
        td 0.00
        td 0.00
      tr
        td Fiery Kernite
        td &#160;
        td &#160;
        td 0.88
        td 0.00
        td 1.77
        td 0.88
        td 0.00
        td 0.00
        td 0.00
        td 0.00
      //- Jaspet //
      tr.ore-class
        td
          strong Jaspet
        td 500
        td 2
        td 0.26
        td 0.44
        td 0.52
        td 0.00
        td 0.26
        td 0.01
        td 0.00
        td 0.00
      tr
        td Pure Jaspet
        td &#160;
        td &#160;
        td 0.27
        td 0.46
        td 0.54
        td 0.00
        td 0.27
        td 0.01
        td 0.00
        td 0.00
      tr
        td Pristine Jaspet
        td &#160;
        td &#160;
        td 0.28
        td 0.48
        td 0.57
        td 0.00
        td 0.28
        td 0.01
        td 0.00
        td 0.00
      //- Hemorphite //
      tr.ore-class
        td
          strong Hemorphite
        td 500
        td 3
        td 0.43
        td 0.17
        td 0.00
        td 0.14
        td
          strong.text-success 0.28
        td 0.02
        td 0.00
        td 0.00
      tr
        td Vivid Hemorphite
        td &#160;
        td &#160;
        td 0.46
        td 0.18
        td 0.00
        td 0.15
        td
          strong.text-success 0.30
        td 0.02
        td 0.00
        td 0.00
      tr
        td Radiant Hemorphite
        td &#160;
        td &#160;
        td 0.48
        td 0.19
        td 0.00
        td 0.16
        td
          strong.text-success 0.31
        td 0.02
        td 0.00
        td 0.00
      //- Hedbergite //
      tr.ore-class
        td
          strong Hedbergite
        td 500
        td 3
        td 0.00
        td 0.19
        td 0.00
        td 0.47
        td 0.24
        td 0.02
        td 0.00
        td 0.00
      tr
        td Vitric Hedbergite
        td &#160;
        td &#160;
        td 0.00
        td 0.20
        td 0.00
        td 0.50
        td 0.25
        td 0.02
        td 0.00
        td 0.00
      tr
        td Glazed Hedbergite
        td &#160;
        td &#160;
        td 0.00
        td 0.21
        td 0.00
        td 0.52
        td 0.26
        td 0.02
        td 0.00
        td 0.00
      //- Gneiss //
      tr.ore-class
        td
          strong Gneiss
        td 400
        td 5
        td 1.85
        td 0.00
        td 1.85
        td 0.35
        td 0.00
        td 0.09
        td 0.00
        td 0.00
      tr
        td Iridescent Gneiss
        td &#160;
        td &#160;
        td 1.94
        td 0.00
        td 1.94
        td 0.37
        td 0.00
        td 0.09
        td 0.00
        td 0.00
      tr
        td Prismatic Gneiss
        td &#160;
        td &#160;
        td 2.04
        td 0.00
        td 2.04
        td 0.39
        td 0.00
        td 0.09
        td 0.00
        td 0.00
      //- Ochre //
      tr.ore-class
        td
          strong Dark Ochre
        td 400
        td 8
        td 7.97 
        td 0.00
        td 0.00
        td 0.00
        td 0.16
        td 0.08
        td 0.00
        td 0.00
      tr
        td Onyx Ochre
        td &#160;
        td &#160;
        td 8.37
        td 0.00
        td 0.00
        td 0.00
        td 0.16
        td 0.08
        td 0.00
        td 0.00
      tr
        td Obsidian Ochre
        td &#160;
        td &#160;
        td 0.00
        td 0.19
        td 0.00
        td 0.47
        td 0.24
        td 0.02
        td 0.00
        td 0.00
      //- Crokite //
      tr.ore-class
        td
          strong Crokite
        td 250
        td 16
        td 9.50
        td 0.00
        td 0.00
        td 0.00
        td 0.08
        td 
          strong.text-success 0.17
        td 0.00
        td 0.00
      tr
        td Sharp Crokite
        td &#160;
        td &#160;
        td 9.98
        td 0.00
        td 0.00
        td 0.00
        td 0.09
        td 
          strong.text-success 0.17
        td 0.00
        td 0.00
      tr
        td Crystalline Crokite
        td &#160;
        td &#160;
        td 10.45
        td 0.00
        td 0.00
        td 0.00
        td 0.09
        td 
          strong.text-success 0.18
        td 0.00
        td 0.00
      //- Spodumain //
      tr.ore-class
        td
          strong Spodumain
        td 250
        td 16
        td 17.75
        td 2.25
        td 0.00
        td 0.00
        td 0.00
        td 0.00
        td 0.04
        td 0.00
      tr
        td Bright Spodumain
        td &#160;
        td &#160;
        td 18.64
        td 2.36
        td 0.00
        td 0.00
        td 0.00
        td 0.00
        td 0.04
        td 0.00
      tr
        td Gleaming Spodumain
        td &#160;
        td &#160;
        td 19.53
        td 2.48
        td 0.00
        td 0.00
        td 0.00
        td 0.00
        td 0.04
        td 0.00
      //- Bistot //
      tr.ore-class
        td
          strong Bistot
        td 200
        td 16
        td 0.00
        td 3.75
        td 0.00
        td 0.00
        td 0.00
        td 0.11
        td 0.05
        td 0.00
      tr
        td Triclinic Bistot
        td &#160;
        td &#160;
        td 0.00
        td 3.94
        td 0.00
        td 0.00
        td 0.00
        td 0.11
        td 0.06
        td 0.00
      tr
        td Monoclinic Bistot
        td &#160;
        td &#160;
        td 0.00
        td 4.13
        td 0.00
        td 0.00
        td 0.00
        td 0.12
        td 0.06
        td 0.00
      //- Arkanor //
      tr.ore-class
        td
          strong Arkanor
        td 200
        td 16
        td 3.13
        td 0.00
        td 0.00
        td 0.00
        td 0.00
        td 0.05
        td 
          strong.text-success 0.10
        td 0.00
      tr
        td Crimson Arkonor
        td &#160;
        td &#160;
        td 3.28
        td 0.00
        td 0.00
        td 0.00
        td 0.00
        td 0.05
        td 
          strong.text-success 0.11
        td 0.00
      tr
        td Prime Arkonor
        td &#160;
        td &#160;
        td 3.44
        td 0.00
        td 0.00
        td 0.00
        td 0.00
        td 0.06
        td 
          strong.text-success 0.11
        td 0.00
      //- Mercoxit //
      tr.ore-class
        td
          strong Mercoxit
        td 250
        td 40
        td 0.00
        td 0.00
        td 0.00
        td 0.00
        td 0.00
        td 0.00
        td 0.00
        td 
          strong.text-success 0.05
      tr
        td Magma Mercoxit
        td &#160;
        td &#160;
        td 0.00
        td 0.00
        td 0.00
        td 0.00
        td 0.00
        td 0.00
        td 0.00
        td 
          strong.text-success 0.06
      tr
        td Vitreous Mercoxit
        td &#160;
        td &#160;
        td 0.00
        td 0.00
        td 0.00
        td 0.00
        td 0.00
        td 0.00
        td 0.00
        td 
          strong.text-success 0.06
