extends layout

block context
  h2 Website Updates &amp; Change Log

  ul.unstyled
    li
      strong June 19, 2013
      ul
        li Added the mining foreman tool.
    li
      strong June 16, 2013
      ul
        li Added advanced features to the reaction calculator.
    li
      strong June 14, 2013
      ul
        li Added reaction calculator.
    li
      strong June 12, 2013
      ul
        li Added basic ore and reactions tables.
    li
      strong June 10, 2013
      ul
        li Site launched.
