extends layout

block context
  h2 Website Updates &amp; Change Log

  ul.unstyled
    li
      strong July 12, 2013
      ul
        li Restarted the change log; Ore tables done and simple reactions done.  Switched to using LESS stylesheets.
