!!!
doctype 5
html
  head
    title eve industrialist :: #{title}
    include ../includes/head
  body
    #wrap
      include ../includes/navigation

      block content

    include ../includes/footer